# Dependencies

In [1]:
from splinter import Browser
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from webdriver_manager.chrome import ChromeDriverManager
import time

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/deangelo/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache

# Scraping Mars

In [3]:
#Grab full page
marsUrl = 'https://redplanetscience.com/'
marsRes = browser.visit(marsUrl)
marsSoup = bs(browser.html, 'html.parser')
time.sleep(1)

In [4]:
#Get Title
marsTitle = marsSoup.find('div', class_='content_title').text
marsTitle

"Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest"

In [5]:
#Get Paragraph Content
marsPara = marsSoup.find('div', class_='article_teaser_body').text
marsPara

"Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. "

# JPL Mars Space Images - Featured Image

In [6]:
#Grab full page
jplUrl = 'https://spaceimages-mars.com/'
jplRes = browser.visit(jplUrl)
jplSoup = bs(browser.html, 'html.parser')
time.sleep(1)

In [7]:
#Get Featured Img
featured_image_url = jplUrl + jplSoup.find('img', class_='headerimage')['src']
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

# Mars Facts

In [8]:
#Get Mars Table
mfUrl = 'https://galaxyfacts-mars.com/'
mfRes = pd.read_html(mfUrl)
mfDf = mfRes[0]
mfDf

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [9]:
#Clean up Table
mfDf.columns = mfDf.iloc[0]
mfDf = mfDf[1:]
mfDf

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [10]:
#To HTML Table
mfHTML = mfDf.to_html().replace('\n', '')
mfHTML

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars - Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [11]:
#Grab full page
hemiUrl = 'https://marshemispheres.com/'
hemiRes = browser.visit(hemiUrl)
hemiSoup = bs(browser.html, 'html.parser')
time.sleep(1)

In [12]:
#Get Hrefs
hemiHrefs = []
hemiHrefsHTML = hemiSoup.find_all('h3')[:-1]
for hemiHref in hemiHrefsHTML:
    finalHemi = hemiUrl + hemiHref.find_parent('a')['href']
    hemiHrefs.append(finalHemi)
hemiHrefs

['https://marshemispheres.com/cerberus.html',
 'https://marshemispheres.com/schiaparelli.html',
 'https://marshemispheres.com/syrtis.html',
 'https://marshemispheres.com/valles.html']

In [13]:
#Visit Each Link and Grab Full Res Imgs
hemiImgs = []
for hemiHref in hemiHrefs:
    browser.visit(hemiHref)
    hemiPartSoup = bs(browser.html, 'html.parser')
    hemiTitle = hemiPartSoup.find('h2', class_='title').text
    hemiImg = hemiUrl + hemiPartSoup.find('img', class_='wide-image')['src']
    hemiInfo = {
        "title": hemiTitle,
        "img_url": hemiImg
    }
    hemiImgs.append(hemiInfo)
    time.sleep(1)
hemiImgs

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]